.nav {
    grid-area: n;
    background-color: rgb(31, 182, 68);
    padding: 10px;
  }

  .item {
      color: blanchedalmond;
  }

  .item a{
      color: rgb(243, 240, 240);
      text-decoration: none;
  }
  .item a.active {
      color: rgb(49, 14, 177);
  }